<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
          <div class="sub1">
            <!-- add logo image here -->
          </div>
          <div class="sub2">
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/create-customer" routerLinkActive="active">Add</a></li>
                <li><a routerLink="/account-transaction" routerLinkActive="active">Payment</a></li>
                <li><a routerLink="/transfer" routerLinkActive="active">Money Transfer</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link3</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link4</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link5</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link6</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link7</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link8</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link9</a></li>
                <li><a routerLink="/" routerLinkActive="active">Link10</a></li>
                   
            </ul>
          </div>
          
        </div>
      

        <div class="section">
            <div class="sub3">
                <h1 class="heading">Grow your artist wings</h1>
                <p class="heading2">Visual art, which is characterized by the practice of applying paint, pigment, color or other medium to a solid surface.

                 Below are painting retreats provided by different artist. Come take a peek.</p>
                    <button class="butt1 butt3">Start Now</button>
            </div>
            <div class="sub4">
                <img src="/assets/pic.jpg" alt="" class="image2">
                <img src="/assets/pic.jpg" alt="" class="image3">
            </div>
        </div>
        <div class="sub5">
            <router-outlet></router-outlet>
        </div>

    </div>  






</body>
</html>